body {
  margin: 0 auto;
}

header {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/hero.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 260px 0;
  text-align: center;
}

h1 {
  font-size: 96px;
  margin: 0;
}

h2 {
  font-size: 40px;
  padding: 20px 0 40px 0;
  margin: 0;
}

header p {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

header a {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 20px;
  }

  header p,
  header a {
    font-size: 14px;
  }
}
