body {
  background-color: hsl(0, 0%, 0%);
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  padding: 0;
}

/* Hero section */

header {
  align-items: center;
  background-image: linear-gradient(
      hsla(0, 0%, 0%, 0.25),
      hsla(0, 0%, 0%, 0.25)
    ),
    url("../assets/hero.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 260px 0;
  text-align: center;
}

h1 {
  font-size: 96px;
  margin: 0;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 40px 0;
}

header p {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

header a:visited {
  color: hsl(0, 0%, 0%);
}

figure {
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* Section 1 */

.section-1 {
  align-items: center;
  background-color: hsl(60, 60%, 97%);
  display: grid;
  grid-gap: 60px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 60px;
}
.section-1 h2 {
  font-weight: 700;
  margin: 0;
}

.section-1 p {
  color: hsl(0, 0%, 38%);
  margin: 10px 0;
}
p.mini-title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 0;
}
.section-1 a {
  color: hsl(189deg 100% 12.47%);
}

.section-1 a:visited {
  color: hsl(189deg 100% 12.47%);
}

/* Section 2 */
.section-2 {
  background-color: hsl(71, 22%, 90%);
  padding: 60px;
}

.section-2 h2,
.section-2 .mini-title,
.section-2 a {
  text-align: center;
}

.section-2 h2 {
  font-weight: 700;
}

.section-2 a {
  background-color: hsl(36, 100%, 53%);
  color: hsl(0, 0%, 0%);
  display: block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 16px 32px;
  text-decoration: none;
}

.section-2 p {
  color: hsl(0, 0%, 38%);
  margin: 10px 0;
}

.section-2-cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.section-2 article {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.section-2 figure {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-2 img {
  aspect-ratio: 1 / 1;
  filter: contrast(1.2);
}

.section-2 iframe {
  aspect-ratio: 1 / 1;
  max-width: 100%;
}

.section-2 h4 {
  margin: 15px 0 0 0;
}

/* Section 3 */
.section-3 {
  background-color: hsl(198, 52%, 95%);
  padding: 60px;
}

.section-3-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.section-3 .mini-title {
  color: hsl(0, 0%, 38%);
  margin: 10px 0;
  text-align: center;
}

.section-3 h2 {
  font-weight: 700;
  text-align: center;
}

/* Footer */
footer {
  background-image: linear-gradient(
      hsl(189deg 100% 12.47% / 85%),
      hsl(189deg 100% 12.47% / 85%)
    ),
    url("../assets/footer-santa-fe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(0, 0%, 100%);
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 2fr 2fr;
  padding: 100px 60px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  padding-bottom: 10px;
}

footer a {
  color: hsl(0, 0%, 100%);
}

footer a:visited {
  color: hsl(0, 0%, 100%);
}

footer a:hover {
  color: hsl(36, 100%, 53%);
}

a:hover {
  cursor: pointer;
}
a:active {
  font-weight: 700;
}

/* Responsive image substitution */
.img-desktop {
  display: inline;
}

.img-mobile {
  display: none;
}

/* Media queries for responsive design: */
/* large screens */
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 36px;
    margin: 0 0 30px 0;
  }

  .section-3-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* medium screens (tablets) */
@media only screen and (max-width: 768px) {
  header {
    padding: 120px 0;
  }
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 28px;
  }

  header p,
  header a {
    font-size: 14px;
  }

  footer {
    grid-gap: 20px;
    grid-template-columns: 1fr;
    padding: 25px 15px;
  }

  p.signature {
    text-align: center;
  }

  .section-1 {
    grid-gap: 35px;
    grid-template-columns: 1fr;
    padding: 25px 0;
  }

  .section-1 figure {
    padding: 20px 15px;
  }

  .section-1 article {
    padding: 0 15px;
  }

  .section1 img {
    aspect-ratio: 1 / 1;
  }

  .section-2-cards,
  .section-3-grid {
    grid-gap: 30px;
    grid-template-columns: 1fr;
  }

  .img-mobile {
    display: inline;
  }

  .img-desktop {
    display: none;
  }
}

/* small screens (phones) */
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 24px;
    margin: 0 0 15px 0;
  }

  header a {
    padding: 8px 16px;
  }
  .section-1 {
    grid-gap: 15px;
  }

  .section-2,
  .section-3 {
    padding: 30px 15px 45px 15px;
  }
}
