body {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

header {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../assets/hero.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 260px 0;
  text-align: center;
}

h1 {
  font-size: 96px;
  margin: 0;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 40px 0;
}

header p {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  letter-spacing: 5px;
}

header a {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 36px;
    margin: 0 0 30px 0;
  }
}

@media only screen and (max-width: 768px) {
  header {
    padding: 60px 0;
  }
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 28px;
  }

  header p,
  header a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 576px) {
  header {
    padding: 60px 0;
  }
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 24px;
    margin: 0 0 15px 0;
  }

  header a {
    padding: 8px 16px;
  }
}
